---
import Layout from '../layouts/Layout.astro';
import GachaAnalyzer from '../components/GachaAnalyzer';
---

<Layout title="武器ガチャシミュレータ">
  <div class="mb-6">
    <p class="text-gray-600">
      武器ガチャを回した時の獲得武器の期待値を計算します
    </p>
  </div>

  <GachaAnalyzer client:load />
</Layout>
